<html>
<head>
    <title>$i18n.getText("user.timesheet.template.general.title")</title>
    <meta name="decorator" content="atl.userprofile">
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-validation")
</head>
<body>
<h2>$i18n.getText("user.timesheet.template.general.hello"), ${user.getDisplayName()}!</h2>

<div class="aui-group">
    <div class="aui-item" style="width: 100%">
        <h3>Ворклоги</h3>
        <table class="aui">
            <thead>
            <tr>
                <th>Issue Key</th>
                <th>Time Spent</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
                #foreach($w in $worklogs)
                    #set($issueKey = $w.getIssue().getKey())
                <tr>
                    <td><a href="/browse/${issueKey}">${issueKey}</a></td>
                    <td>$w.getTimeSpent()</td>
                    <td>$w.getStartDate()</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <div class="aui-item" style="width: 100%">
        <h3>Сообщение из БД</h3>
        <form class="aui top-label" method="post">
            <div class="field-group">
                <label for="message">Новое сообщение <span class="aui-icon icon-required">(required)</span></label>
                <input class="text long-field" type="text"
                       id="message" name="message" placeholder="Пожалуйста, только не пишите 'java'..."
                       data-aui-validation-field required>
                <div class="description">Введите сообщение для фана и сохранения</div>
            </div>
            <div class="buttons">
                <input class="aui-button aui-button-primary submit" type="submit" value="Сохранить" id="save-button">
            </div>
        </form>
        <table class="aui">
            <thead>
            <tr>
                <th>Message</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
                #foreach($m in $messages)
                <tr>
                    <td>$m.getMessage()</td>
                    <td>$m.getCreated()</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
